<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.mappers.LifestyleReplyMapper">

	<!-- Paging -->
	<select id="listLifestyleReply" resultType="LifestyleReplyVo">
		select rNo, lNo, replyText, replyer, regDate from lifestyle_reply
		where lNo = #{lNo}
		order by rNo desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="count" resultType="int">
		select count(lNo) from lifestyle_reply where lNo = #{lNo}
	</select>
	
	<insert id="create">
		insert into lifestyle_reply(lNo, replyText, replyer)
		values(#{lNo}, #{replyText}, #{replyer})
	</insert>
	
	<update id="update">
		update lifestyle_reply set replyText = #{replyText}, updatedate = now() where rNo = #{rNo}
	</update>
	
	<delete id="delete">
		delete from lifestyle_reply where rNo = #{rNo}
	</delete>
	
	<!-- Transaction -->
	<select id="getlNo" resultType="int">
		select lNo from lifestyle_reply where rNo = #{rNo};
	</select>	
	
</mapper>