<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.mappers.UserMapper">
	
	<select id="login" resultType="UserVo">
		select uId, uPw, uName from com_user where uId = #{uId} and uPw = #{uPw}
	</select>
	
	<insert id="join">
		insert into com_user(uId, uPw, uName, uEmail, uPhone) 
		values(#{uId}, #{uPw}, #{uName}, #{uEmail}, #{uPhone})
	</insert>
	
	<select id="checkId" resultType="UserVo">
		select uId from com_user where uId = #{uId}
	</select>
	
</mapper>